$primaryColor: #FF8126;


$black: #000000;
$white: #ffffff;


$primaryTextColor: #6b6b6b;
$secondTextColor: #ffffff;


// ===============================Home Pge==================

.section-title{
    margin: 50px 0;
    border-top: 2px solid rgba($primaryColor, .6);
    
}
.title{
    font-size: 26px;
    color: $primaryTextColor;
    border: 2px solid rgba($primaryColor, .6);
    width: 25%;
    padding: 5px 20px;
    border-top: none !important;
}
.sub-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: $primaryTextColor;
}
// ==============topbar section==============

#topbar{
    margin-top: 10px;
  

    .search-box{
        display: flex;
        background: $primaryColor;
        border-radius: 50px;
        padding: 2px 0;
        border: none;

        .search-input{
            flex: 6;
            border: none;
            outline: none;
            margin-left: 2px;
            padding-left: 20px;
            border-radius: 50px 0 0 50px;
            
        }
        .search-icon{
            flex: 1;
            display: flex;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            align-content: center !important;
            border-radius: 0 50px 50px 0;
            margin: 0 2px;
            cursor: pointer;
            border: 1px solid transparent !important;

            &:hover{
                border: 1px solid $white !important;
            }
            
            .fa-search{
                color: $secondTextColor;
                font-size: 18px;
                display: flex;
                align-items: center;
            }
            .text{
                color: $secondTextColor;
                font-size: 18px;
                display: flex;
                text-align: center;
                margin-bottom: 0;
                margin-left: 10px;
                font-weight: 500;
            }
        }
    }

    .login{
        display: flex;
        align-items: center;

        .login-text{
            font-size: 18px;
            font-weight: 400;
            color: $primaryTextColor;
            margin-bottom: 0;
            margin-left: 50px;
            border: 1px solid $primaryColor;
            padding: 3px 20px;
            border-radius: 50px;
            cursor: pointer;

            &:hover{
                background: $primaryColor;
                color: $secondTextColor;
            }
        }
    }
}



// =========================Header Section=======================

#header{
    .navbar{
        .navbar-nav{
            width: 200px;
            margin-left: 200px;
            


            .nav-item{
                position: relative;
                border: 1px solid transparent;

                .nav-link{
                    color: $primaryTextColor;
                    font-size: 16px;
                    margin-left: 5px;
                }

                .sub-menu{
                    position: absolute;
                    list-style: none;
                    display: none;
                    width: 200px;
                    margin-left:199px;
                    margin-top:-41px;
                    padding-left: 0 !important;

                    .nav-item{
                        .sub-sub-menu{
                            position: absolute;
                            list-style: none;
                            display: none;
                            width: 200px;
                            margin-left:199px;
                            margin-top:-41px;
                            padding-left: 0 !important;
                        }
                        &:hover{
                            border: 1px solid $primaryColor !important;
                            
                            .sub-sub-menu{
                                display: block;
                            }
                        }
                    }
                    
                    
                }
    
                &:hover{
                    border: 1px solid $primaryColor !important;
                    .sub-menu{
                        display: block;
                    }
                }
            }

            
        }

        
    }
}



// =========================Sub Navbar section==================

#sub-navbar{
    .navbar{
        border-top: 1px solid $primaryColor;
        padding: 0 !important;
       .container{
           display: flex;
           justify-content: center;
       }
       .navbar-nav{
           .nav-item{
               margin: 0 20px;
               border: 1px solid transparent;

               &:hover{
                border: 1px solid $primaryColor !important;
               }
               
           }
           .nav-link{
               list-style: none;
               color: $primaryTextColor;
               font-size: 18px;
           }
       }
    }
}



// ========================home section====================

#home-section{

    .about-delivery{
        .card{
            width: 100%;
            height: 300px;
        }
    }


    .product-category{
        .categorys{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .card{
                width: 160px;
                height: 95px;
                margin: 10px;
                border: none;
                border: 1px solid transparent;
                cursor: pointer;

                @media(max-width: 768px) {
                    width: 140px;
                    height: 85px;
                }

                @media(max-width: 320px) {
                    width: 120px;
                    height: 70px;
                }

                &:hover{
                    border: 1px solid $primaryColor;
                }

                .card-body{
                    padding: 5px !important;
                }
               
                .category-icon{
                    font-size: 48px;
                    display: flex;
                    justify-content: center;
                    color: lighten($primaryTextColor, 10%);

                    @media(max-width: 768px) {
                        font-size: 36px;
                    }

                    @media(max-width: 320px) {
                        font-size: 32px;
                    }
                }
                .category-name{
                    font-size: 16px;
                    color: $primaryTextColor;
                    display: flex;
                    justify-content: center;
                    white-space: nowrap;
                    margin-top: 5px;

                    @media(max-width: 768px) {
                        font-size: 14px;
                    }

                    @media(max-width: 320px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    // ===================special offer==================

    .special-offers{

        .special-offer-slider{
            margin: 0 50px;
            border-left: 5px solid rgba($primaryColor, .6);
            border-right: 5px solid rgba($primaryColor, .6);

            .image-slide{
                width: 500px !important;
                height: 350px ;
                margin: 10px;
                border-radius: 10px;
                box-shadow: 0px 1px 12px -6px #858484;

                .offer-image{
                    height: 300px ;
                    margin: 0 !important;
                    .card{
                        height: 100% ;
                        border-radius: 0 ;
                        border: none;

                        img{
                            height: 100% ;
                        }
                    }
                }

                .product-card{
                    border: none;
                }
            }

            .slick-prev{
                height: 60px;
                width: 60px;
                z-index: 1;
                left: -33px !important;
                border-radius: 100%;
                border: 5px solid $primaryColor;
                background: $black;
            }

            .slick-next{
                height: 60px;
                width: 60px;
                z-index: 1;
                right: -33px !important;
                border-radius: 100%;
                border: 5px solid $primaryColor;
                background: $black;
            }

            .slick-prev:before {
                content: '<<';
                font-size: 30px;
                font-weight: 900;
                color: $white !important;
            }

            .slick-next:before {
                content: '>>';
                font-size: 30px;
                font-weight: 900;
                color: $white !important;
            }
                
        }
    }

}


  

// ============product page section===============

#product-section{
    .product-all{
        .product-items{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .product-card{
                width: 200px;
                margin: 10px 0;
            }
        }
    }
}