.section-title {
  margin: 50px 0;
  border-top: 2px solid rgba(255, 129, 38, 0.6);
}

.title {
  font-size: 26px;
  color: #6b6b6b;
  border: 2px solid rgba(255, 129, 38, 0.6);
  width: 25%;
  padding: 5px 20px;
  border-top: none !important;
}

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #6b6b6b;
}

#topbar {
  margin-top: 10px;
}

#topbar .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FF8126;
  border-radius: 50px;
  padding: 2px 0;
  border: none;
}

#topbar .search-box .search-input {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  border: none;
  outline: none;
  margin-left: 2px;
  padding-left: 20px;
  border-radius: 50px 0 0 50px;
}

#topbar .search-box .search-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  border-radius: 0 50px 50px 0;
  margin: 0 2px;
  cursor: pointer;
  border: 1px solid transparent !important;
}

#topbar .search-box .search-icon:hover {
  border: 1px solid #ffffff !important;
}

#topbar .search-box .search-icon .fa-search {
  color: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .search-box .search-icon .text {
  color: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: 500;
}

#topbar .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .login .login-text {
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  margin-bottom: 0;
  margin-left: 50px;
  border: 1px solid #FF8126;
  padding: 3px 20px;
  border-radius: 50px;
  cursor: pointer;
}

#topbar .login .login-text:hover {
  background: #FF8126;
  color: #ffffff;
}

#header .navbar .navbar-nav {
  width: 200px;
  margin-left: 200px;
}

#header .navbar .navbar-nav .nav-item {
  position: relative;
  border: 1px solid transparent;
}

#header .navbar .navbar-nav .nav-item .nav-link {
  color: #6b6b6b;
  font-size: 16px;
  margin-left: 5px;
}

#header .navbar .navbar-nav .nav-item .sub-menu {
  position: absolute;
  list-style: none;
  display: none;
  width: 200px;
  margin-left: 199px;
  margin-top: -41px;
  padding-left: 0 !important;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item .sub-sub-menu {
  position: absolute;
  list-style: none;
  display: none;
  width: 200px;
  margin-left: 199px;
  margin-top: -41px;
  padding-left: 0 !important;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item:hover {
  border: 1px solid #FF8126 !important;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item:hover .sub-sub-menu {
  display: block;
}

#header .navbar .navbar-nav .nav-item:hover {
  border: 1px solid #FF8126 !important;
}

#header .navbar .navbar-nav .nav-item:hover .sub-menu {
  display: block;
}

#sub-navbar .navbar {
  border-top: 1px solid #FF8126;
  padding: 0 !important;
}

#sub-navbar .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sub-navbar .navbar .navbar-nav .nav-item {
  margin: 0 20px;
  border: 1px solid transparent;
}

#sub-navbar .navbar .navbar-nav .nav-item:hover {
  border: 1px solid #FF8126 !important;
}

#sub-navbar .navbar .navbar-nav .nav-link {
  list-style: none;
  color: #6b6b6b;
  font-size: 18px;
}

#home-section .about-delivery .card {
  width: 100%;
  height: 300px;
}

#home-section .product-category .categorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home-section .product-category .categorys .card {
  width: 160px;
  height: 95px;
  margin: 10px;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  #home-section .product-category .categorys .card {
    width: 140px;
    height: 85px;
  }
}

@media (max-width: 320px) {
  #home-section .product-category .categorys .card {
    width: 120px;
    height: 70px;
  }
}

#home-section .product-category .categorys .card:hover {
  border: 1px solid #FF8126;
}

#home-section .product-category .categorys .card .card-body {
  padding: 5px !important;
}

#home-section .product-category .categorys .card .category-icon {
  font-size: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #858585;
}

@media (max-width: 768px) {
  #home-section .product-category .categorys .card .category-icon {
    font-size: 36px;
  }
}

@media (max-width: 320px) {
  #home-section .product-category .categorys .card .category-icon {
    font-size: 32px;
  }
}

#home-section .product-category .categorys .card .category-name {
  font-size: 16px;
  color: #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  margin-top: 5px;
}

@media (max-width: 768px) {
  #home-section .product-category .categorys .card .category-name {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  #home-section .product-category .categorys .card .category-name {
    font-size: 12px;
  }
}

#home-section .special-offers .special-offer-slider {
  margin: 0 50px;
  border-left: 5px solid rgba(255, 129, 38, 0.6);
  border-right: 5px solid rgba(255, 129, 38, 0.6);
}

#home-section .special-offers .special-offer-slider .image-slide {
  width: 500px !important;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 12px -6px #858484;
          box-shadow: 0px 1px 12px -6px #858484;
}

#home-section .special-offers .special-offer-slider .image-slide .offer-image {
  height: 300px;
  margin: 0 !important;
}

#home-section .special-offers .special-offer-slider .image-slide .offer-image .card {
  height: 100%;
  border-radius: 0;
  border: none;
}

#home-section .special-offers .special-offer-slider .image-slide .offer-image .card img {
  height: 100%;
}

#home-section .special-offers .special-offer-slider .image-slide .product-card {
  border: none;
}

#home-section .special-offers .special-offer-slider .slick-prev {
  height: 60px;
  width: 60px;
  z-index: 1;
  left: -33px !important;
  border-radius: 100%;
  border: 5px solid #FF8126;
  background: #000000;
}

#home-section .special-offers .special-offer-slider .slick-next {
  height: 60px;
  width: 60px;
  z-index: 1;
  right: -33px !important;
  border-radius: 100%;
  border: 5px solid #FF8126;
  background: #000000;
}

#home-section .special-offers .special-offer-slider .slick-prev:before {
  content: '<<';
  font-size: 30px;
  font-weight: 900;
  color: #ffffff !important;
}

#home-section .special-offers .special-offer-slider .slick-next:before {
  content: '>>';
  font-size: 30px;
  font-weight: 900;
  color: #ffffff !important;
}

#product-section .product-all .product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#product-section .product-all .product-items .product-card {
  width: 200px;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */