@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.section-title {
  border: none;
  margin: 20px 0;
}

.title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 26px;
  color: #524a4a;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .title {
    font-size: 20px;
  }
}

.sub-title {
  text-align: center;
  font-size: 18px;
  color: #524a4a;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

#product-tab .tab {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#product-tab .tab .tablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  text-transform: capitalize;
  background: none;
  border-bottom: 3px solid #5e0075 !important;
}

#product-tab .tab .tablink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#product-tab .tab .tab-active {
  border-bottom-color: #FFD670 !important;
}

#product-tab .tabcontent {
  display: none;
  border-top: none;
}

.about-delivery .card {
  margin: 10px 5px;
}

@media (max-width: 425px) {
  .about-delivery .card {
    margin: 15px 5px;
  }
}

.about-delivery .card .card-body {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .about-delivery .card .card-body {
    height: 210px;
  }
}

.about-delivery .card .card-body .card-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.special-offers .slide {
  width: 200px !important;
  height: 320px !important;
  margin: 20px;
}

.special-offers .product-card {
  width: 175px;
  margin: 20px 0;
  margin-left: 10px;
  border: none;
  border: 1px solid transparent;
}

@media (max-width: 1024px) {
  .special-offers .product-card {
    margin-left: 18px !important;
  }
}

@media (max-width: 768px) {
  .special-offers .product-card {
    margin-left: 7px !important;
  }
}

@media (max-width: 425px) {
  .special-offers .product-card {
    margin-left: 13px !important;
  }
}

@media (max-width: 375px) {
  .special-offers .product-card {
    margin-left: 5px !important;
    width: 162px !important;
  }
}

@media (max-width: 320px) {
  .special-offers .product-card {
    margin-left: 5px !important;
    width: 135px !important;
  }
}

.special-offers .product-card .unit-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  background: rgba(255, 214, 112, 0.5);
  border-radius: 5px 5px 0 0;
}

.special-offers .product-card .unit-price .unit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #524a4a;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

.special-offers .product-card .unit-price .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #524a4a;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  background: rgba(255, 214, 112, 0.4);
}

.special-offers .product-card .unit-price .price .icon {
  font-weight: 0;
  font-size: 14px;
}

.special-offers .product-card .product-img {
  width: 100%;
  height: 150px;
  padding: 5px 20px;
}

@media (max-width: 375px) {
  .special-offers .product-card .product-img {
    height: 130px !important;
  }
}

@media (max-width: 320px) {
  .special-offers .product-card .product-img {
    height: 100px !important;
  }
}

.special-offers .product-card .card-body {
  position: relative;
  padding: 0;
  text-align: center;
}

.special-offers .product-card .card-body .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.special-offers .product-card .card-body .overlay .add-to-bag {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.special-offers .product-card .card-body .overlay .product-details {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.special-offers .product-card .card-body .overlay .product-details .details {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0;
  text-transform: capitalize;
  background: rgba(94, 0, 117, 0.7);
  color: #ffffff;
  padding: 2px;
}

.special-offers .product-card .card-body .overlay .product-details .details:hover {
  background: #FFD670;
}

.special-offers .product-card .card-body .product-name {
  color: #524a4a;
  font-size: 16px;
  line-height: 1.4;
  padding: 5px;
  margin: 5px 0;
  text-transform: capitalize;
}

.special-offers .product-card .card-body:hover .overlay {
  visibility: visible;
}

.special-offers .product-card .add-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.special-offers .product-card .add-product .add-icon {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background: rgba(255, 214, 112, 0.9);
  position: relative;
}

.special-offers .product-card .add-product .add-icon:hover {
  background: rgba(94, 0, 117, 0.9);
}

.special-offers .product-card:hover {
  -webkit-box-shadow: 0px 0px 12px -8px #858484;
          box-shadow: 0px 0px 12px -8px #858484;
  border: 1px solid #5e0075;
}

.special-offers .slick-prev {
  background: #5e0075;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.special-offers .slick-prev:before {
  content: '←';
}

.special-offers .slick-next {
  background: #5e0075;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.special-offers .slick-dots li button:before {
  font-size: 40px !important;
  color: #5e0075 !important;
}

.client-opinion {
  margin: 50px 0 !important;
  padding-top: 20px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.1);
}

.client-opinion .client-testimonial {
  margin: 0 80px;
  height: 200px;
}

@media (max-width: 375px) {
  .client-opinion .client-testimonial {
    height: 220px !important;
  }
}

@media (max-width: 768px) {
  .client-opinion .client-testimonial {
    margin: 0 50px;
  }
}

@media (max-width: 425px) {
  .client-opinion .client-testimonial {
    margin: 0 10px;
  }
}

@media (max-width: 320px) {
  .client-opinion .client-testimonial {
    height: 240px !important;
  }
}

.client-opinion .client-testimonial .testimonial-slide {
  position: relative;
  padding: 10px;
}

.client-opinion .client-testimonial .testimonial-slide .client-info {
  position: absolute;
  left: 550px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .client-opinion .client-testimonial .testimonial-slide .client-info {
    left: 300px;
  }
}

@media (max-width: 425px) {
  .client-opinion .client-testimonial .testimonial-slide .client-info {
    left: 180px;
  }
}

@media (max-width: 375px) {
  .client-opinion .client-testimonial .testimonial-slide .client-info {
    left: 150px;
  }
}

@media (max-width: 325px) {
  .client-opinion .client-testimonial .testimonial-slide .client-info {
    left: 120px;
  }
}

.client-opinion .client-testimonial .testimonial-slide .client-info .image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid rgba(255, 214, 112, 0.5);
}

@media (max-width: 425px) {
  .client-opinion .client-testimonial .testimonial-slide .client-info .image {
    width: 60px;
    height: 60px;
  }
}

.client-opinion .client-testimonial .testimonial-slide .client-info .name {
  margin-bottom: 0;
  font-size: 16px;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .client-opinion .client-testimonial .testimonial-slide .client-info .name {
    font-size: 14px;
  }
}

.client-opinion .client-testimonial .testimonial-slide .testimonial {
  margin-top: 30px;
  padding-top: 60px;
  height: 150px;
  background: rgba(255, 214, 112, 0.3);
  border: 1px solid rgba(255, 214, 112, 0.5);
}

@media (max-width: 425px) {
  .client-opinion .client-testimonial .testimonial-slide .testimonial {
    padding-top: 35px;
  }
}

@media (max-width: 375px) {
  .client-opinion .client-testimonial .testimonial-slide .testimonial {
    height: 200px !important;
  }
}

.client-opinion .client-testimonial .testimonial-slide .testimonial .text {
  text-align: justify;
  font-size: 16px;
  color: #524a4a;
  padding: 10px 20px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .client-opinion .client-testimonial .testimonial-slide .testimonial .text {
    padding: 10px;
    font-size: 14px;
  }
}

.client-opinion .client-testimonial .slick-dots li button:before {
  font-size: 40px !important;
  color: #FFD670 !important;
}

.client-opinion .client-testimonial .slick-next {
  display: none !important;
}

.client-opinion .client-testimonial .slick-prev {
  display: none !important;
}

#order-chart .shoping-bag {
  position: relative;
  position: fixed;
  right: 2px;
  bottom: 250px;
  height: 80px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1000;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 14px 5px #858484;
          box-shadow: 0px 0px 14px 5px #858484;
}

@media (max-width: 425px) {
  #order-chart .shoping-bag {
    right: 0;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 35px;
  }
}

#order-chart .shoping-bag .bbag {
  position: absolute;
  width: 80px;
  right: 0;
  top: 0;
  z-index: -1;
}

#order-chart .shoping-bag .bag {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFD670;
  padding: 2px;
}

@media (max-width: 425px) {
  #order-chart .shoping-bag .bag {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 26px;
  }
}

#order-chart .shoping-bag .total-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFD670;
  font-weight: 500;
  padding: 0 2px;
}

@media (max-width: 425px) {
  #order-chart .shoping-bag .total-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

#order-chart .shoping-bag .total-items .item-counter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order-chart .shoping-bag .total-items .unit {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order-chart .shoping-bag .total-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
  background: #ffffff;
}

@media (max-width: 425px) {
  #order-chart .shoping-bag .total-amount {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: none;
    color: #FFD670;
  }
}

#order-chart .shoping-bag .total-amount .curency {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

#order-chart .shoping-bag .total-amount .amount {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order-chart .chart {
  position: relative;
  position: fixed;
  background: #ffffff;
  height: 89%;
  width: 320px;
  bottom: 0;
  right: -450px;
  -webkit-transition: right .2s linear;
  transition: right .2s linear;
  z-index: 1000;
  -webkit-box-shadow: -2px 1px 12px -2px #858484;
          box-shadow: -2px 1px 12px -2px #858484;
}

@media (max-width: 425px) {
  #order-chart .chart {
    width: 100%;
  }
}

#order-chart .chart .chart-bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 20px;
  background: rgba(0, 0, 0, 0.7);
}

#order-chart .chart .chart-bag .bag {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFD670;
  padding: 2px;
}

#order-chart .chart .chart-bag .total-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFD670;
  font-weight: 500;
  padding: 0 2px;
}

#order-chart .chart .chart-bag .total-items .item-counter {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order-chart .chart .chart-bag .total-items .unit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

#order-chart .chart .chart-bag .chart-close {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#order-chart .chart .chart-bag .chart-close .btn {
  border-radius: 0;
  padding: 0 10px;
  background: none;
  border: 1px solid #FFD670;
  color: #ffffff;
}

#order-chart .chart .delivery-charge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 5px;
  background: rgba(94, 0, 117, 0.2);
}

#order-chart .chart .delivery-charge .text {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 14px;
  margin-bottom: 0;
  text-transform: capitalize;
}

#order-chart .chart .delivery-charge .total-amount {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
}

#order-chart .chart .delivery-charge .total-amount .curency {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

#order-chart .chart .delivery-charge .total-amount .amount {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order-chart .chart .chart-products {
  overflow-y: auto;
  position: relative;
  height: 400px;
}

#order-chart .chart .chart-products .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#order-chart .chart .chart-products .product-item .item-counter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

#order-chart .chart .chart-products .product-item .item-counter .icon {
  font-size: 18px;
  color: #cccccc;
  cursor: pointer;
}

#order-chart .chart .chart-products .product-item .item-counter .icon:hover {
  color: #524a4a;
}

#order-chart .chart .chart-products .product-item .item-counter .quantity {
  font-size: 16px;
  margin-bottom: 0;
  color: #524a4a;
}

#order-chart .chart .chart-products .product-item .product-img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#order-chart .chart .chart-products .product-item .product-img .image {
  width: 30px;
  height: 30px;
}

#order-chart .chart .chart-products .product-item .name-price {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#order-chart .chart .chart-products .product-item .name-price .name {
  font-size: 13px;
  text-transform: capitalize;
  color: #524a4a;
  margin-bottom: 0;
}

#order-chart .chart .chart-products .product-item .name-price .unit-price {
  font-size: 12px;
  font-weight: 500;
  color: gray;
  text-align: left;
  margin-bottom: 0;
}

#order-chart .chart .chart-products .product-item .name-price .unit-price .curency {
  font-size: 10px;
}

#order-chart .chart .chart-products .product-item .item-price {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 16px;
  line-height: 1.2;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#order-chart .chart .chart-products .product-item .item-price .curency {
  font-size: 10px;
}

#order-chart .chart .chart-products .product-item .item-price .current-price {
  color: #FFD670;
  font-weight: 500;
  margin-bottom: 0;
}

#order-chart .chart .chart-products .product-item .item-price .prev-price {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 0;
}

#order-chart .chart .chart-products .product-item .product-cancel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #524a4a;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: unset !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#order-chart .chart .chart-products .product-item .product-cancel:hover {
  color: red;
}

#order-chart .chart .total-order {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 0;
  background: rgba(94, 0, 117, 0.6);
}

#order-chart .chart .total-order .order-place {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
}

#order-chart .chart .total-order .order-place:hover {
  background: rgba(94, 0, 117, 0.7);
}

#order-chart .chart .total-order .total-amount {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0;
  font-size: 18px;
  padding: 5px 10px;
  background: rgba(94, 0, 117, 0.3);
  color: #ffffff;
  text-align: center;
}

#order-chart .chart .total-order .total-amount .curency {
  font-size: 20px;
}
/*# sourceMappingURL=app.css.map */