@import '_variable';
html {
    scroll-behavior: smooth;
  }
.section-title{
    border: none;
    margin: 20px 0;
}
.title{
    flex: 1;
    font-size: 22px;
    color: $primaryTextColor;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: capitalize;
    @media (max-width: 425px){
        font-size: 16px;
    }
}
.sub-title{
    text-align: center;
    font-size: 18px;
    color: $primaryTextColor;
}
.hide{
    display: none;
}
.show{
    display: block !important;
}
// ========================home section====================
#product-tab{
    margin-top: 10px;
    @media (max-width: 425px) {
        margin-top: 30px;
    }
    .tab {
        overflow: hidden;
        display: flex;
        justify-content: center;
        .tablink {
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px 15px;
            transition: 0.3s;
            font-size: 16px;
            text-transform: capitalize;
            background: none;
            border-bottom: 3px solid $primaryColor !important;
            @media(max-width: 425px){
                padding: 5px 10px;
                font-size: 14px;
            }
            @media(max-width: 320px){
                padding: 5px 5px;
                font-size: 12px;
            }
            &:hover {
                background-color: rgba($black, .1);
            }
        }
        .tab-active {
            border-bottom-color:  $secondaryColor !important;
        }
    }
    .tabcontent {
        display: none;
        border-top: none;
        margin-top: 50px;
    }
    // ============super offer=============
    .offer-product{
        display: flex;
        height: 310px;
        width: 400px;
        padding: 10px;
        margin: 10px 20px;
        border-radius: 5px;
        border: 1px solid rgba($primaryColor, .3);
        @media (max-width: 1024px) {
            margin: 20px 50px;
        }
        @media (max-width: 768px) {
            margin: 10px 8px;
            width: 360px;
            padding: 5px;
        }
        @media (max-width: 425px) {
            margin: 10px 40px;
        }
        @media (max-width: 375px) {
            margin: 10px 20px;
        }
        @media (max-width: 320px) {
            margin: 10px 5px;
        }
        .offer{
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
                flex: 1 !important;
            }
            .offer-image{
                width: 200px;
                height: 220px;
                position: relative;
                @media (max-width: 768px) {
                    width: 170px;
                    height: 170px;
                }
                @media (max-width: 320px) {
                    width: 165px;
                }
                .image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .product-section{
            flex: 1;
            .product-card{
                margin: 0 !important;
            }
        }
    }
}
// ====================client opinion section=================
.client-opinion{
    margin: 50px 0 !important;
    padding-top: 20px;
    padding-bottom: 40px;
    background: lighten($black, 98%);
    .client-testimonial{
        margin: 0 80px;
        height: 200px;
        @media (max-width: 375px){
            height: 220px !important;
        }
        @media (max-width: 768px){
            margin: 0 50px;
        }
        @media (max-width: 425px){
            margin: 0 10px;
        }
        @media (max-width: 320px){
            height: 240px !important;
        }
        .testimonial-slide{
            position: relative;
            padding: 10px;
            .client-info{
                position: absolute;
                left: 550px;
                top: 0;
                display: flex;
                flex-direction: column;
                @media (max-width: 1024px){
                    left: 400px;
                }
                @media (max-width: 768px){
                    left: 300px;
                }
                @media (max-width: 425px){
                    left: 180px;
                }
                @media (max-width: 375px){
                    left: 150px;
                }
                @media (max-width: 325px){
                    left: 120px;
                }
                .image{
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    border: 3px solid rgba($black, .2);
                    @media (max-width: 425px){
                        width: 60px;
                        height: 60px;
                    }
                }
                .name{
                    margin-bottom: 0;
                    font-size: 16px;
                    text-transform: capitalize;
                    @media (max-width: 425px){
                        font-size: 14px;
                    }
                }
            }
            .testimonial{
                margin-top: 30px;
                padding-top: 60px;
                height: 150px;
                background: rgba($black, .2);
                @media (max-width: 425px){
                    padding-top: 35px;
                }
                @media (max-width: 375px){
                    height: 200px !important;
                }
                .text{
                    text-align: justify;
                    font-size: 16px;
                    color: $primaryTextColor;
                    padding: 10px 20px;
                    line-height: 1.3;
                    @media (max-width: 768px){
                        padding: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
        .slick-dots li button:before {
            font-size: 40px !important;
            color: rgba($black, .2) !important;
        }
        .slick-next{
            display: none !important;
        }
        .slick-prev {
            display: none !important;
        }
    }
}


// ===========================product order chart==================
#order-chart{
    .shoping-bag{
        position: relative;
        position: fixed;
        right: 2px;
        bottom: 250px;
        height: 80px;
        width: 70px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        cursor: pointer;
        background: rgba($black, .6);
        box-shadow: 0px 0px 14px 5px $boxShadowColor;
        @media (max-width: 425px) {
            right: 0;
            bottom: 0;
            flex-direction: row;
            width: 100%;
            height: 35px;
        }
        .bbag{
            position: absolute;
            width: 80px;
            right: 0;
            top: 0;
            z-index: -1;
        }
        .bag{
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $secondaryColor;
            padding: 2px;
            @media (max-width: 425px) {
                flex-direction: row;
                flex: 1;
                font-size: 26px;
            }
        }
        .total-items{
            display: flex;
            color: $secondaryColor;
            font-weight: 500;
            padding: 0 2px;
            @media (max-width: 425px) {
                flex-direction: row;
                flex: 1;
            }
            .item-counter{
                flex: 1;
                font-size: 14px;
                text-align: center;
                margin-bottom: 0;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .unit{
                flex: 2;
                font-size: 12px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .total-amount{
            display: flex;
            padding: 0 2px;
            background: $white;
            @media (max-width: 425px) {
                flex-direction: row;
                flex: 1;
                background: none;
                color: $secondaryColor;
            }
            .curency{
                flex: 1;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
            }
            .amount{
                flex: 2;
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
// ===========================chart===================
    .chart{
        position: relative;
        position: fixed;
        background: $white;
        height: 89%;
        width: 320px;
        bottom: 0;
        right: -450px;
        transition: right .2s linear;
        z-index: 1000;
        box-shadow: -2px 1px 12px -2px $boxShadowColor;
        @media (max-width: 425px) {
            width: 100%;
        }
        .chart-bag{
            display: flex;
            padding: 4px 20px;
            background: rgba($black, .7);
            .bag{
                flex: 1;
                font-size: 24px;
                display: flex;
                align-items: center;
                color: $secondaryColor;
                padding: 2px;
            }
            .total-items{
                flex: 1;
                display: flex;
                color: $secondaryColor;
                font-weight: 500;
                padding: 0 2px;
                .item-counter{
                    flex: 2;
                    font-size: 14px;
                    margin-bottom: 0;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                }
                .unit{
                    flex: 1;
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                }
            }
            .chart-close{
                flex: 4;
                display: flex;
                justify-content: flex-end;
                .btn{
                    border-radius: 0;
                    padding: 0 10px;
                    background: none;
                    border: 1px solid $secondaryColor;
                    color: $white;
                }
            }
        }
        .delivery-charge{
            display: flex;
            padding: 3px 5px;
            background: rgba($primaryColor, .2);
            .text{
                flex: 4;
                font-size: 14px;
                margin-bottom: 0;
                text-transform: capitalize;
            }
            .total-amount{
                flex: 1;
                display: flex;
                padding: 0 2px;
                .curency{
                    flex: 1;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                }
                .amount{
                    flex: 2;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .chart-products{
            overflow-y: auto;
            position:relative;
            height: 400px;
            .product-item{
                display: flex;
                align-items: center;
                height: 70px;
                padding: 5px;
                border-bottom: 1px solid rgba($black, .1);
                .item-counter{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-left: 5px;
                    .icon{
                        font-size: 18px;
                        color: lighten($black, 80%);
                        cursor: pointer;
                        &:hover{
                            color: $primaryTextColor;
                        }
                    }
                    .quantity{
                        font-size: 16px;
                        margin-bottom: 0;
                        color: $primaryTextColor;
                    }
                }
                .product-img{
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    .image{
                        width: 30px;
                        height: 30px;
                    }
                }
                .name-price{
                    flex: 7;
                    line-height: 1.3;
                    display: flex;
                    flex-direction: column;
                    .name{
                        font-size: 13px;
                        text-transform: capitalize;
                        color: $primaryTextColor;
                        margin-bottom: 0;
                    }
                    .unit-price{
                        font-size: 12px;
                        font-weight: 500;
                        color: lighten($black, 50%);
                        text-align: left;
                        margin-bottom: 0;
                        .curency{
                            font-size: 10px;
                        }
                    }
                }
                .item-price{
                    flex: 2;
                    font-size: 16px;
                    line-height: 1.2;
                    margin-left: 5px;
                    display: flex;
                    flex-direction: column;
                    .curency{
                        font-size: 10px;
                    }
                    .current-price{
                        color: $secondaryColor;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    .prev-price{
                        color: lighten($black, 50%);
                        text-decoration: line-through;
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }
                .product-cancel{
                    flex: 1;
                    color: $primaryTextColor;
                    cursor: pointer;
                    display: flex;
                    font-weight: unset !important;
                    justify-content: flex-end;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
        .total-order{
            position: absolute;
            display: flex;
            width: 100%;
            bottom: 0;
            background: rgba($primaryColor, .6);
            .order-place{
                flex: 2;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 500;
                padding: 5px 10px;
                text-align: center;
                color: $secondTextColor;
                text-transform: capitalize;
                cursor: pointer;
                &:hover{
                    background: rgba($primaryColor, .7);
                }
            }
            .total-amount{
                flex: 1;
                margin-bottom: 0;
                font-size: 18px;
                padding: 5px 10px;
                background: rgba($primaryColor, .3);
                color: $secondTextColor;
                text-align: center;
                .curency{
                    font-size: 20px;
                }
            }
        }
    }
}




