#topbar {
  margin: 15px 0;
}

#topbar .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

#topbar .search-box .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  height: 45px;
  padding-left: 20px;
  background: whitesmoke;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
}

#topbar .search-box .search {
  outline: none;
  border: none;
  width: 50px;
  border-radius: 0 3px 3px 0;
  background: #5e0075;
  cursor: pointer;
}

#topbar .search-box .search .search-icon {
  color: #ffffff;
  font-size: 22px;
}

#topbar .search-box .search:hover {
  background: #FFD670;
}

#topbar .ellipsis-icon {
  font-size: 32px;
  display: none;
}

@media (max-width: 425px) {
  #topbar .ellipsis-icon {
    display: block;
  }
}

#topbar .topbar-right {
  position: relative;
}

#topbar .topbar-right .topbar-right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 45px;
  border-radius: 3px;
  background: #5e0075;
  margin-left: 20px !important;
}

@media (max-width: 768px) {
  #topbar .topbar-right .topbar-right-menu {
    margin-left: 0 !important;
  }
}

@media (max-width: 425px) {
  #topbar .topbar-right .topbar-right-menu {
    position: absolute;
    display: none;
    left: -50px;
  }
}

#topbar .topbar-right .topbar-right-menu .call {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #5e0075;
  background: #FFD670;
  cursor: pointer;
}

#topbar .topbar-right .topbar-right-menu .call:hover {
  background: #FFD670;
}

@media (max-width: 768px) {
  #topbar .topbar-right .topbar-right-menu .call {
    font-size: 28px;
  }
}

#topbar .topbar-right .topbar-right-menu .signin {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

#topbar .topbar-right .topbar-right-menu .signin:hover {
  color: #FFD670;
}

@media (max-width: 768px) {
  #topbar .topbar-right .topbar-right-menu .signin {
    font-size: 18px;
  }
}

#header {
  position: relative;
}

#header .header-slider .slide {
  height: 350px;
  width: 100%;
  position: relative;
}

#header .header-slider .slide .slide-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

#header .header-slider .slick-dots li button:before {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  font-size: 40px !important;
  color: #ffffff !important;
}

#header .navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 110px;
  z-index: 999;
  background: #ffffff;
  padding: 0 !important;
  border: none;
}

#header .navbar .navbar-nav {
  position: absolute;
  background: #ffffff;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 10px 0;
}

#header .navbar .navbar-nav .nav-item {
  position: relative;
}

#header .navbar .navbar-nav .nav-item .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 10px !important;
}

#header .navbar .navbar-nav .nav-item .name .nav-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #575656;
  font-size: 14px;
  text-transform: capitalize;
  padding: 0;
}

#header .navbar .navbar-nav .nav-item .name .right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  font-size: 14px;
  display: none;
}

#header .navbar .navbar-nav .nav-item .name:hover .right-arrow {
  display: block;
}

#header .navbar .navbar-nav .nav-item .sub-menu {
  list-style: none;
  display: none;
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  background: #ffffff;
  z-index: 999;
  padding: 0;
  -webkit-box-shadow: -2px 0px 10px -8px #858484;
          box-shadow: -2px 0px 10px -8px #858484;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item .sub-sub-menu {
  position: absolute;
  list-style: none;
  display: none;
  width: 200px;
  left: 200px;
  top: 0;
  padding: 0;
  z-index: 999;
  background: #ffffff;
  -webkit-box-shadow: -2px 0px 10px -8px #858484;
          box-shadow: -2px 0px 10px -8px #858484;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item:hover {
  border: none;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item:hover .sub-sub-menu {
  display: block;
}

#header .navbar .navbar-nav .nav-item:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(94, 0, 117, 0.3)));
  background: linear-gradient(to right, #ffffff, rgba(94, 0, 117, 0.3));
  border: none;
}

#header .navbar .navbar-nav .nav-item:hover .sub-menu {
  display: block;
}

#footer-section .footer {
  background: #1a1a1a;
  padding: 2px 0;
}

#footer-section .footer .follow-media {
  margin: 0 2px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #575656;
}

#footer-section .footer .follow-media .media-icon {
  margin: 25px;
  font-size: 38px;
}

@media (max-width: 425px) {
  #footer-section .footer .follow-media .media-icon {
    margin: 20px;
    font-size: 34px;
  }
}

@media (max-width: 375px) {
  #footer-section .footer .follow-media .media-icon {
    margin: 15px;
    font-size: 26px;
  }
}

#footer-section .footer .footer-bottom {
  padding: 50px;
}

@media (max-width: 375px) {
  #footer-section .footer .footer-bottom {
    padding: 20px;
  }
}

#footer-section .footer .footer-bottom .footer-link .category-name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

@media (max-width: 425px) {
  #footer-section .footer .footer-bottom .footer-link .category-name {
    font-size: 18px;
  }
}

#footer-section .footer .footer-bottom .footer-link .link-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer-section .footer .footer-bottom .footer-link .link-category .link {
  color: #575656;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 425px) {
  #footer-section .footer .footer-bottom .footer-link .link-category .link {
    font-size: 16px;
  }
}

#footer-section .footer .manual-contact .contact-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  #footer-section .footer .manual-contact .contact-number {
    margin-top: 20px;
  }
}

#footer-section .footer .manual-contact .contact-number .phone-icon {
  font-size: 62px;
  font-weight: 500;
  color: #5e0075;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: phoneAnimate 2s infinite;
          animation: phoneAnimate 2s infinite;
}

@-webkit-keyframes phoneAnimate {
  0% {
    color: #ffffff;
  }
  25% {
    color: #d00fff;
  }
  50% {
    color: #8700a8;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    color: #72008f;
  }
  100% {
    color: green;
  }
}

@keyframes phoneAnimate {
  0% {
    color: #ffffff;
  }
  25% {
    color: #d00fff;
  }
  50% {
    color: #8700a8;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    color: #72008f;
  }
  100% {
    color: green;
  }
}

@media (max-width: 768px) {
  #footer-section .footer .manual-contact .contact-number .phone-icon {
    font-size: 56px;
  }
}

@media (max-width: 375px) {
  #footer-section .footer .manual-contact .contact-number .phone-icon {
    font-size: 48px;
  }
}

#footer-section .footer .manual-contact .contact-number .number {
  font-size: 42px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

@media (max-width: 375px) {
  #footer-section .footer .manual-contact .contact-number .number {
    font-size: 28px;
  }
}

#footer-section .footer .manual-contact .email-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

#footer-section .footer .manual-contact .email-address .email {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 375px) {
  #footer-section .footer .manual-contact .email-address .email {
    font-size: 18px;
  }
}

#footer-section .footer .manual-contact .email-address .email span {
  color: #575656;
  margin-right: 10px;
}

#footer-section .footer .pay-roll {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-section .footer .pay-roll .pay-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

#footer-section .footer .pay-roll .pay-img {
  width: 60px;
  margin: 0 5px;
}

#footer-section .footer .footer-bottom-bar {
  padding: 10px 50px;
  border-top: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-section .footer .footer-bottom-bar .copyright-text {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

#footer-section .footer .footer-bottom-bar .copyright-text .text {
  color: #575656;
}

#footer-section .footer .footer-bottom-bar .arrow-up {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer-section .footer .footer-bottom-bar .arrow-up .arrow-icon {
  color: #5e0075;
  font-size: 42px;
}
/*# sourceMappingURL=header-footer.css.map */