@import '_variable';
// ==============topbar section==============
#topbar{
    margin: 15px 0;
    .search-box{
        display: flex;
        border: none;
        .search-input{
            flex: 1;
            border: none;
            outline: none;
            height: 45px;
            padding-left: 20px;
            background: lighten($black, 96%);
            border-radius: 3px 0 0 3px;
            overflow: hidden;
        }
        .search{
            outline: none;
            border: none;
            width: 50px;
            border-radius: 0 3px 3px 0;
            background: $primaryColor;
            cursor: pointer;
            .search-icon{
                color: $secondTextColor;
                font-size: 22px;
            }
            &:hover{
                background: $secondaryColor;
            }
        }
    }

    .ellipsis-icon{
        font-size: 32px;
        display: none;
        @media (max-width: 425px) {
            display: block;
        }
    }
    .topbar-right{
        position: relative;
        .topbar-right-menu{
            display: flex;
            align-content: center;
            height: 45px;
            border-radius: 3px;
            background: $primaryColor;
            margin-left: 20px !important;
            @media (max-width: 768px) {
                margin-left: 0 !important;
            }
            @media (max-width: 425px) {
                position: absolute;
                display: none;
                left: -50px;
            }
            .call{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                color: $primaryColor;
                background: $secondaryColor;
                cursor: pointer;
                &:hover{
                    background: $secondaryColor;
                }
                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }
            .signin{
                flex: 2;
                border: none;
                outline: none;
                background: none;
                color: $white;
                font-size: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                &:hover{
                    color: $secondaryColor;
                }
                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }
        }
    }
}
// =========================Header Section=======================
#header{
    position: relative;
    .header-slider{
        .slide{
            height: 350px;
            width: 100%;
            position: relative;
            .slide-img{
               position: absolute;
               height: 100%;
               width: 100%;
            }
        }
        .slick-dots li button:before {
            transform: translateY(-40px);
            font-size: 40px !important;
            color: $white !important;
        }
    }
    .navbar{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 110px;
        z-index: 999;
        background: $white;
        padding: 0 !important;
        border: none;
        .navbar-nav{
            position: absolute;
            background: $white;
            top: 0;
            bottom: 0;
            width: 200px;
            padding: 10px 0;
            .nav-item{
                position: relative;
                .name{
                    display: flex;
                    align-items: center;
                    padding: 3px 10px !important;
                    .nav-link{
                        flex: 1;
                        color: $primaryTextColor;
                        font-size: 14px;
                        text-transform: capitalize;
                        padding: 0;
                    }
                    .right-arrow{
                        display: flex;
                        justify-content: flex-end !important;
                        font-size: 14px;
                        display: none;
                    }
                    &:hover{
                        .right-arrow{
                            display: block;
                        }
                    }
                }
                .sub-menu{
                    list-style: none;
                    display: none;
                    position: absolute;
                    left:200px;
                    top: 0;
                    width: 200px;
                    background: $white;
                    z-index: 999;
                    padding: 0;
                    box-shadow: -2px 0px 10px -8px $boxShadowColor;
                    .nav-item{
                        .sub-sub-menu{
                            position: absolute;
                            list-style: none;
                            display: none;
                            width: 200px;
                            left: 200px;
                            top: 0;
                            padding: 0;
                            z-index: 999;
                            background: $white;
                            box-shadow: -2px 0px 10px -8px $boxShadowColor;
                        }
                        &:hover{
                            border: none;
                            .sub-sub-menu{
                                display: block;
                            }
                        }
                    }
                }
                &:hover{
                    background: linear-gradient(to right, $white, rgba($primaryColor, .3));
                    border: none;
                    .sub-menu{
                        display: block;
                    }
                }
            }
        }
    }
}
// =====================footer section==============
#footer-section{
    .footer{
        background: lighten($black, 10%);
        padding: 2px 0;
        .follow-media{
            margin: 0 2px;
            background: $white;
            display: flex;
            justify-content: center;
            color: $primaryTextColor;
            .media-icon{
                margin: 25px;
                font-size: 38px;
                @media (max-width: 425px){
                    margin: 20px;
                    font-size: 34px;
                }
                @media (max-width: 375px){
                    margin: 15px;
                    font-size: 26px;
                }
            }
        }
        .footer-bottom{
            padding: 50px;
            @media (max-width: 375px){
                padding: 20px;
            }
            .footer-link{
                .category-name{
                    color: $white;
                    font-size: 22px;
                    font-weight: 500;
                    display: flex;
                    white-space: nowrap;
                    @media (max-width: 425px){
                        font-size: 18px;
                    }
                }
                .link-category{
                    display: flex;
                    flex-direction: column;
                    .link{
                        color: $primaryTextColor;
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        @media (max-width: 425px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .manual-contact{
            .contact-number{
                display: flex;
                justify-content: center;
                @media (max-width: 425px){
                    margin-top: 20px;
                }
                .phone-icon{
                    font-size: 62px;
                    font-weight: 500;
                    color: $primaryColor;
                    display: flex;
                    align-items: center;
                    animation: phoneAnimate 2s infinite;
                    @keyframes phoneAnimate {
                        0%{color: $white;}
                        25%{color: lighten($primaryColor, 30%);}
                        50%{color: lighten($primaryColor, 10%);
                            transform: rotate(20deg);
                            }
                        75%{color: lighten($primaryColor, 5%);}
                        100%{color: green;}
                    }
                    @media (max-width: 768px){
                        font-size: 56px;
                    }
                    @media (max-width: 375px){
                        font-size: 48px;
                    }
                }
                .number{
                    font-size: 42px;
                    font-weight: 500;
                    color: $white;
                    margin-left: 20px;
                    margin-bottom: 0;
                    display: flex;
                    white-space: nowrap;
                    @media (max-width: 375px){
                        font-size: 28px;
                    }
                }
            }
            .email-address{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                .email{
                    font-size: 22px;
                    font-weight: 500;
                    color: $white;
                    @media (max-width: 375px){
                        font-size: 18px;
                    }
                    span{
                        color: $primaryTextColor;
                        margin-right: 10px;
                    }
                }
            }
        }
        .pay-roll{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            .pay-text{
                color: $secondTextColor;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
            }
            .pay-img{
                width: 60px;
                margin: 0 5px;
            }
        }
        .footer-bottom-bar{
            padding: 10px 50px;
            border-top: 1px solid;
            display: flex;

            .copyright-text{
                flex: 5;
                .text{
                    color: $primaryTextColor;
                }
            }
            .arrow-up{
                flex: 1;
                display: flex;
                justify-content: flex-end;
                .arrow-icon{
                    color: $primaryColor;
                    font-size: 42px;
                }
            }
        }
    }
}