@import '_variable';
// ==============topbar section==============
body {
    overflow-x: hidden;
  }
.topbar-shadow{
    box-shadow: 0px -2px 18px 2px $boxShadowColor;
}
// ================Header Section==============
.navbar-nav-menu{
    position: fixed !important;
    top:104px !important;
    bottom: auto !important;
    z-index: 1000 !important;
    box-shadow: 0px 0px 12px -8px $boxShadowColor;
    @media (max-width: 425px) {
        top:94px !important;
    }
}
#header{
    margin-top: 70px !important;
    position: relative;
    overflow: hidden;
    .topbar{
        padding: 10px 20px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background: $white;
        .business-logo{
            //border: 1px solid red;
            height: 50px;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 425px) {
                height: 40px;
            }
            .logo{
                position: absolute;
                width: 70%;
                height: 100%;
                top: 0;
                @media (max-width: 425px) {
                    width: 100%;
                }
            }
        }
        .search-box{
            display: flex;
            border: none;
            .search-input{
                flex: 1;
                border: none;
                outline: none;
                height: 45px;
                padding-left: 20px;
                background: lighten($black, 96%);
                border-radius: 3px 0 0 3px;
                overflow: hidden;
                @media (max-width: 425px) {
                    height: 40px;
                }
            }
            .search{
                outline: none;
                border: none;
                width: 50px;
                border-radius: 0 3px 3px 0;
                background: $primaryColor;
                cursor: pointer;
                .search-icon{
                    color: $secondTextColor;
                    font-size: 22px;
                }
                &:hover{
                    background: $secondaryColor;
                }
            }
        }
        .topbar-right{
            position: relative;
            display: flex;
            justify-content: center;
            .topbar-right-menu{
                display: flex;
                align-content: center;
                height: 45px;
                width: 100%;
                border-radius: 3px;
                background: $primaryColor;
                z-index: 999;
                @media (max-width: 768px) {
                    margin-right: 0 !important;
                }
                @media (max-width: 425px) {
                    position: absolute;
                    display: none;
                    left: -100px;
                    top: 20px;
                    width: 100px;
                    height: 80px;
                }
                .help{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    padding: 0 5px;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $primaryColor;
                    background: $secondaryColor;
                    cursor: pointer;
                    white-space: nowrap;
                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                    &:hover{
                        color: $secondaryColor;
                        background: $primaryTextColor;
                    }
                    .fa{
                        font-size: 22px;
                        @media (max-width: 425px) {
                            display: none;
                        }
                    }
                    .name{
                        margin-left: 5px;
                        @media (width: 768px) {
                            display: none;
                        }
                    }
                }
                .signin{
                    flex: 1;
                    background: none;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    margin-bottom: 0;
                    justify-content: center;
                    align-items: center;
                    text-transform: capitalize;
                    cursor: pointer;
                    white-space: nowrap;
                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                    &:hover{
                        color: $secondaryColor;
                        background: $primaryTextColor;
                    }
                }
            }
        }
        .right-side{
            @media (max-width: 320px) {
                padding: 0 !important;
                padding-left: 5px !important;
            }
            .menu-icon{
                font-size: 36px;
                display: none;
                margin-top: 5px;
                @media (max-width: 425px) {
                    display: block;
                }
            }
        }
        .topbar-bottom{
            cursor: pointer;
            border-radius: 50px;
            margin-top: 10px;
            margin-left: 40px;
            display: none;
            @media (max-width: 1024px) {
                margin-left: 35px;
            }
            @media (max-width: 768px) {
                margin-left: 25px;
            }
            @media (max-width: 425px) {
                margin-left: 5px;
                display: block;
            }
            .all-category{
                position: relative;
                margin-bottom: 0;
                text-transform: capitalize;
                color: $primaryTextColor;
                font-weight: 500;
                display: flex;
                white-space: nowrap;
                .arrow{
                    margin-left: 5px;
                    font-size: 22;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .header-slider{
        margin-bottom: 0 !important;
        @media (max-width: 425px) {
            display: none;
        }
        .slide{
            height: 350px;
            width: 100%;
            position: relative;
            @media (max-width: 768px) {
                height: 300px;
            }
            .slide-img{
               position: absolute;
               height: 100%;
               width: 100%;
            }
        }
        .slick-dots li button:before {
            transform: translateY(-40px);
            font-size: 40px !important;
            color: darken($secondaryColor, 20%) !important;
        }
    }
    .navbar{
        position: absolute;
        top: 0 !important;
        bottom: 0;
        left: 45px;
        background: $white;
        padding: 0 !important;
        border: none;
        @media (max-width: 1024px) {
            left: 40px;
        }
        @media (max-width: 768px) {
            left: 30px;
        }
        @media (max-width: 425px) {
            left: 10px;
        }
        .navbar-nav{
            position: absolute;
            background: rgba($black, .9);
            top: 0;
            bottom: 0;
            width: 200px;
            padding: 10px 0;
            overflow-y: auto;
            @media (max-width: 768px){
                width: 170px;
            }
            @media (max-width: 425px){
                width: 150px;
            }
            .nav-item{
                position: relative;
                .item-name{
                    display: flex;
                    align-items: center;
                    padding: 3px 10px !important;
                    .nav-link{
                        flex: 1;
                        color: $secondaryColor;
                        font-size: 14px;
                        text-transform: capitalize;
                        padding: 0;
                    }
                    .right-arrow{
                        display: flex;
                        justify-content: flex-end !important;
                        font-size: 14px;
                        display: none;
                        @media (max-width: 425px) {
                            display: block;
                        }
                    }
                    &:hover{
                        .right-arrow{
                            display: block;
                            @media (max-width: 425px) {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
                .sub-menu{
                    list-style: none;
                    display: none;
                    position: absolute;
                    left:200px;
                    top: 0;
                    width: 200px;
                    background: rgba($black, .9);
                    z-index: 999;
                    padding: 0;
                    box-shadow: -2px 0px 10px -8px $boxShadowColor;
                    .nav-link{
                        color: $secondaryColor !important;
                    }
                    @media (max-width: 425px) {
                        width: 150px;
                        left:150px;
                        position: unset;
                        background: lighten($black, 80%);
                        box-shadow: none;
                        z-index: 0;
                    }
                    .nav-item{
                        .sub-sub-menu{
                            position: absolute;
                            list-style: none;
                            display: none;
                            width: 200px;
                            left: 200px;
                            top: 0;
                            padding: 0;
                            z-index: 999;
                            background: rgba($black, .9);
                            box-shadow: -2px 0px 10px -8px $boxShadowColor;
                            @media (max-width: 425px) {
                                width: 150px;
                                left:150px;
                                position: unset;
                                background: lighten($black, 90%);
                                box-shadow: none;
                                z-index: 0;
                            }
                            .nav-link{
                                color: $secondaryColor !important;
                            }
                        }
                        &:hover{
                            border: none;
                            .sub-sub-menu{
                                display: block;
                            }
                            .nav-link{
                                color:  $primaryTextColor !important;
                            }
                        }
                    }
                }
                &:hover{
                    background: linear-gradient(to right, $white, rgba($primaryColor, .3));
                    border: none;
                    .sub-menu{
                        display: block;
                    }
                    .nav-link{
                        color: $primaryTextColor;
                    }
                }
            }
        }
    }
}
// =====================footer section==============
#footer-section{
    .footer{
        background: lighten($black, 10%);
        padding: 2px 0;
        .follow-media{
            margin: 0 2px;
            background: $white;
            display: flex;
            justify-content: center;
            color: $primaryTextColor;
            .media-icon{
                margin: 25px;
                font-size: 38px;
                @media (max-width: 425px){
                    margin: 20px;
                    font-size: 34px;
                }
                @media (max-width: 375px){
                    margin: 15px;
                    font-size: 26px;
                }
            }
        }
        .company-info{
            padding: 50px;
            margin: 0 !important;
            @media (max-width: 768px){
                padding: 20px;
            }
            .info-category{
                @media (max-width: 768px){
                    padding: 0 5px;
                }
                .category-name{
                    color: $white;
                    font-size: 22px;
                    font-weight: 500;
                    display: flex;
                    white-space: nowrap;
                    @media (max-width: 425px){
                        font-size: 18px;
                    }
                }
                .info-link{
                    display: flex;
                    flex-direction: column;
                    .link{
                        color: $primaryTextColor;
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        @media (max-width: 425px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .manual-contact{
            .contact-number{
                display: flex;
                justify-content: center;
                @media (max-width: 425px){
                    margin-top: 20px;
                }
                .phone-icon{
                    font-size: 44px;
                    font-weight: 500;
                    color: $secondaryColor;
                    display: flex;
                    align-items: center;
                    transform: rotate(-30deg);
                    @media (max-width: 768px){
                        font-size: 36px;
                    }
                }
                .number{
                    font-size: 34px;
                    font-weight: 500;
                    color: $white;
                    margin-left: 20px;
                    margin-bottom: 0;
                    display: flex;
                    white-space: nowrap;
                    @media (max-width: 768px){
                        font-size: 28px;
                    }
                }
            }
            .email-address{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                .email{
                    font-size: 22px;
                    font-weight: 500;
                    color: $white;
                    @media (max-width: 768px){
                        font-size: 18px;
                    }
                    span{
                        color: $primaryTextColor;
                        margin-right: 10px;
                    }
                }
            }
        }
        .payment-info{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            .title{
                color: $secondTextColor;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
            }
            .payment-via{
                display: flex;
                flex: 1;
                .pay-img{
                    width: 50px;
                    margin: 0 5px;
                    @media (max-width: 768px) {
                        margin: 0 2px;
                    }
                }
            }
        }
        .footer-bottom{
            padding: 10px 50px;
            border-top: 1px solid;
            display: flex;
            margin: 0 !important;

            .copyright{
                flex: 5;
                .text{
                    color: $primaryTextColor;
                }
            }
            .pick-up{
                position: relative;
                flex: 1;
                display: flex;
                justify-content: flex-end;
                .pick-up-icon{
                    position: fixed;
                    color: $primaryColor;
                    font-size: 26px;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center !important;
                    align-items: center !important;
                    border-radius: 5px;
                    background: rgba($secondaryColor, .7);
                    z-index: 999;
                    bottom: 50px;
                    visibility: hidden;
                    @media (max-width: 768px) {
                        right: 20px;
                    }
                }
            }
        }
    }
}