body {
  overflow-x: hidden;
}

.topbar-shadow {
  -webkit-box-shadow: 0px -2px 18px 2px #858484;
          box-shadow: 0px -2px 18px 2px #858484;
}

.navbar-nav-menu {
  position: fixed !important;
  top: 104px !important;
  bottom: auto !important;
  z-index: 1000 !important;
  -webkit-box-shadow: 0px 0px 12px -8px #858484;
          box-shadow: 0px 0px 12px -8px #858484;
}

@media (max-width: 425px) {
  .navbar-nav-menu {
    top: 94px !important;
  }
}

#header {
  margin-top: 70px !important;
  position: relative;
  overflow: hidden;
}

#header .topbar {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #ffffff;
}

#header .topbar .business-logo {
  height: 50px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  #header .topbar .business-logo {
    height: 40px;
  }
}

#header .topbar .business-logo .logo {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
}

@media (max-width: 425px) {
  #header .topbar .business-logo .logo {
    width: 100%;
  }
}

#header .topbar .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

#header .topbar .search-box .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  height: 45px;
  padding-left: 20px;
  background: whitesmoke;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
}

@media (max-width: 425px) {
  #header .topbar .search-box .search-input {
    height: 40px;
  }
}

#header .topbar .search-box .search {
  outline: none;
  border: none;
  width: 50px;
  border-radius: 0 3px 3px 0;
  background: #5e0075;
  cursor: pointer;
}

#header .topbar .search-box .search .search-icon {
  color: #ffffff;
  font-size: 22px;
}

#header .topbar .search-box .search:hover {
  background: #FFD670;
}

#header .topbar .topbar-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .topbar .topbar-right .topbar-right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  background: #5e0075;
  z-index: 999;
}

@media (max-width: 768px) {
  #header .topbar .topbar-right .topbar-right-menu {
    margin-right: 0 !important;
  }
}

@media (max-width: 425px) {
  #header .topbar .topbar-right .topbar-right-menu {
    position: absolute;
    display: none;
    left: -100px;
    top: 20px;
    width: 100px;
    height: 80px;
  }
}

#header .topbar .topbar-right .topbar-right-menu .help {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding: 0 5px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #5e0075;
  background: #FFD670;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #header .topbar .topbar-right .topbar-right-menu .help {
    font-size: 16px;
  }
}

#header .topbar .topbar-right .topbar-right-menu .help:hover {
  color: #FFD670;
  background: #524a4a;
}

#header .topbar .topbar-right .topbar-right-menu .help .fa {
  font-size: 22px;
}

@media (max-width: 425px) {
  #header .topbar .topbar-right .topbar-right-menu .help .fa {
    display: none;
  }
}

#header .topbar .topbar-right .topbar-right-menu .help .name {
  margin-left: 5px;
}

@media (width: 768px) {
  #header .topbar .topbar-right .topbar-right-menu .help .name {
    display: none;
  }
}

#header .topbar .topbar-right .topbar-right-menu .signin {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #header .topbar .topbar-right .topbar-right-menu .signin {
    font-size: 16px;
  }
}

#header .topbar .topbar-right .topbar-right-menu .signin:hover {
  color: #FFD670;
  background: #524a4a;
}

@media (max-width: 320px) {
  #header .topbar .right-side {
    padding: 0 !important;
    padding-left: 5px !important;
  }
}

#header .topbar .right-side .menu-icon {
  font-size: 36px;
  display: none;
  margin-top: 5px;
}

@media (max-width: 425px) {
  #header .topbar .right-side .menu-icon {
    display: block;
  }
}

#header .topbar .topbar-bottom {
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 40px;
  display: none;
}

@media (max-width: 1024px) {
  #header .topbar .topbar-bottom {
    margin-left: 35px;
  }
}

@media (max-width: 768px) {
  #header .topbar .topbar-bottom {
    margin-left: 25px;
  }
}

@media (max-width: 425px) {
  #header .topbar .topbar-bottom {
    margin-left: 5px;
    display: block;
  }
}

#header .topbar .topbar-bottom .all-category {
  position: relative;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #524a4a;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

#header .topbar .topbar-bottom .all-category .arrow {
  margin-left: 5px;
  font-size: 22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-slider {
  margin-bottom: 0 !important;
}

@media (max-width: 425px) {
  #header .header-slider {
    display: none;
  }
}

#header .header-slider .slide {
  height: 350px;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  #header .header-slider .slide {
    height: 300px;
  }
}

#header .header-slider .slide .slide-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

#header .header-slider .slick-dots li button:before {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  font-size: 40px !important;
  color: #ffb90a !important;
}

#header .navbar {
  position: absolute;
  top: 0 !important;
  bottom: 0;
  left: 45px;
  background: #ffffff;
  padding: 0 !important;
  border: none;
}

@media (max-width: 1024px) {
  #header .navbar {
    left: 40px;
  }
}

@media (max-width: 768px) {
  #header .navbar {
    left: 30px;
  }
}

@media (max-width: 425px) {
  #header .navbar {
    left: 10px;
  }
}

#header .navbar .navbar-nav {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 10px 0;
}

@media (max-width: 768px) {
  #header .navbar .navbar-nav {
    width: 170px;
  }
}

@media (max-width: 425px) {
  #header .navbar .navbar-nav {
    width: 150px;
  }
}

#header .navbar .navbar-nav .nav-item {
  position: relative;
}

#header .navbar .navbar-nav .nav-item:hover {
  background: #8700a8;
  border: none;
}

#header .navbar .navbar-nav .nav-item:hover .sub-menu {
  display: block;
}

#header .navbar .navbar-nav .nav-item .item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 10px !important;
}

#header .navbar .navbar-nav .nav-item .item-name:hover .right-arrow {
  display: block;
}

@media (max-width: 425px) {
  #header .navbar .navbar-nav .nav-item .item-name:hover .right-arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#header .navbar .navbar-nav .nav-item .item-name .nav-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFD670;
  font-size: 14px;
  text-transform: capitalize;
  padding: 0;
}

#header .navbar .navbar-nav .nav-item .item-name .right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  font-size: 14px;
  display: none;
  color: #FFD670;
}

@media (max-width: 425px) {
  #header .navbar .navbar-nav .nav-item .item-name .right-arrow {
    display: block;
  }
}

#header .navbar .navbar-nav .nav-item .sub-menu {
  list-style: none;
  display: none;
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
  -webkit-box-shadow: -2px 0px 10px -8px #858484;
          box-shadow: -2px 0px 10px -8px #858484;
}

@media (max-width: 425px) {
  #header .navbar .navbar-nav .nav-item .sub-menu {
    width: 150px;
    left: 150px;
    position: unset;
    background: #b3b3b3;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  #header .navbar .navbar-nav .nav-item .sub-menu {
    left: 169px;
  }
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-link {
  color: #FFD670 !important;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item .sub-sub-menu {
  position: absolute;
  list-style: none;
  display: none;
  width: 200px;
  left: 200px;
  top: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: -2px 0px 10px -8px #858484;
          box-shadow: -2px 0px 10px -8px #858484;
}

@media (max-width: 425px) {
  #header .navbar .navbar-nav .nav-item .sub-menu .nav-item .sub-sub-menu {
    width: 150px;
    left: 150px;
    position: unset;
    background: #999999;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 0;
  }
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item .sub-sub-menu .nav-link {
  color: #FFD670 !important;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item:hover {
  border: none;
}

#header .navbar .navbar-nav .nav-item .sub-menu .nav-item:hover .sub-sub-menu {
  display: block;
}

#footer-section .footer {
  background: #1a1a1a;
  padding: 2px 0;
}

#footer-section .footer .follow-media {
  margin: 0 2px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-section .footer .follow-media .media-link {
  color: #524a4a;
  text-decoration: none;
}

#footer-section .footer .follow-media .media-icon {
  margin: 25px;
  font-size: 38px;
}

#footer-section .footer .follow-media .media-icon:hover {
  color: #d69900;
}

@media (max-width: 425px) {
  #footer-section .footer .follow-media .media-icon {
    margin: 20px;
    font-size: 34px;
  }
}

@media (max-width: 375px) {
  #footer-section .footer .follow-media .media-icon {
    margin: 15px;
    font-size: 26px;
  }
}

#footer-section .footer .company-info {
  padding: 20px;
  margin: 0 !important;
}

@media (max-width: 768px) {
  #footer-section .footer .company-info {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  #footer-section .footer .company-info .info-category {
    padding: 0 5px;
  }
}

#footer-section .footer .company-info .info-category .category-name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  #footer-section .footer .company-info .info-category .category-name {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  #footer-section .footer .company-info .info-category .category-name {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  #footer-section .footer .company-info .info-category .category-name {
    font-size: 14px;
  }
}

#footer-section .footer .company-info .info-category .info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer-section .footer .company-info .info-category .info-link .link {
  color: #524a4a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  #footer-section .footer .company-info .info-category .info-link .link {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  #footer-section .footer .company-info .info-category .info-link .link {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  #footer-section .footer .company-info .info-category .info-link .link {
    font-size: 12px;
  }
}

#footer-section .footer .manual-contact .contact-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  #footer-section .footer .manual-contact .contact-number {
    margin-top: 20px;
  }
}

#footer-section .footer .manual-contact .contact-number .phone-icon {
  font-size: 44px;
  font-weight: 500;
  color: #FFD670;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (max-width: 768px) {
  #footer-section .footer .manual-contact .contact-number .phone-icon {
    font-size: 32px;
  }
}

#footer-section .footer .manual-contact .contact-number .number {
  font-size: 34px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #footer-section .footer .manual-contact .contact-number .number {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  #footer-section .footer .manual-contact .contact-number .number {
    font-size: 22px;
  }
}

#footer-section .footer .manual-contact .email-address {
  margin-top: 10px;
}

#footer-section .footer .manual-contact .email-address .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 768px) {
  #footer-section .footer .manual-contact .email-address .email {
    font-size: 16px;
  }
}

#footer-section .footer .manual-contact .email-address .email span {
  color: #524a4a;
  margin-right: 10px;
}

#footer-section .footer .payment-info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-section .footer .payment-info .title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  #footer-section .footer .payment-info .title {
    font-size: 16px;
  }
}

#footer-section .footer .payment-info .payment-via {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-section .footer .payment-info .payment-via .pay-img {
  width: 50px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  #footer-section .footer .payment-info .payment-via .pay-img {
    margin: 0 2px;
    width: 45px;
  }
}

#footer-section .footer .footer-bottom {
  padding: 10px 30px;
  border-top: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 !important;
}

#footer-section .footer .footer-bottom .copyright {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

#footer-section .footer .footer-bottom .copyright .text {
  color: #524a4a;
}

#footer-section .footer .footer-bottom .pick-up {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer-section .footer .footer-bottom .pick-up .pick-up-icon {
  position: fixed;
  color: #ffb90a;
  font-size: 50px;
  font-weight: 500;
  z-index: 999;
  bottom: 50px;
  display: none;
}

@media (max-width: 425px) {
  #footer-section .footer .footer-bottom .pick-up .pick-up-icon {
    right: 30px;
    font-size: 40px;
  }
}
/*# sourceMappingURL=header-footer.css.map */