@import '_variable';
// ============help header======
.help-header{
    #header{
        .header-slider{
            display: none !important;
        }
        .topbar-bottom{
            display: block !important;
        }
    }
}
// ============tab============
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    .tablink {
        background-color: inherit;
        float: left;
        border-bottom: 3px solid $primaryColor !important;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        &:hover {
            background-color: #ddd;
        }
    }
    .tab-active {
        border-bottom-color:  $secondaryColor !important;
      }
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }