.breadcrumb-section {
  background: #5e0075;
}

.breadcrumb-section .breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 0 20px !important;
}

.breadcrumb-section .breadcrumb .breadcrumb-item .breadcrumb-link {
  color: #ffffff;
  font-size: 14px !important;
}

.breadcrumb-section .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb-section .breadcrumb .active {
  color: #FFD670 !important;
}

#product-section {
  padding: 30px 0;
}

#product-section .banner-section {
  padding: 10px 20px;
}

#product-section .banner-section .banner {
  height: 150px;
  margin: 2px !important;
  position: relative;
}

#product-section .banner-section .banner .banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product {
  margin: 0 20px;
}

.product .product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product .product-items .product-card {
  width: 175px;
  margin: 20px 0;
  margin-left: 10px;
  border: none;
  border: 1px solid transparent;
}

@media (max-width: 1024px) {
  .product .product-items .product-card {
    margin-left: 18px !important;
  }
}

@media (max-width: 768px) {
  .product .product-items .product-card {
    margin-left: 7px !important;
  }
}

@media (max-width: 425px) {
  .product .product-items .product-card {
    margin-left: 13px !important;
  }
}

@media (max-width: 375px) {
  .product .product-items .product-card {
    margin-left: 5px !important;
    width: 162px !important;
  }
}

@media (max-width: 320px) {
  .product .product-items .product-card {
    margin-left: 5px !important;
    width: 135px !important;
  }
}

.product .product-items .product-card .unit-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  background: rgba(255, 214, 112, 0.5);
  border-radius: 5px 5px 0 0;
}

.product .product-items .product-card .unit-price .unit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #524a4a;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

.product .product-items .product-card .unit-price .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #524a4a;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  background: rgba(255, 214, 112, 0.4);
}

.product .product-items .product-card .unit-price .price .icon {
  font-weight: 0;
  font-size: 14px;
}

.product .product-items .product-card .product-img {
  width: 100%;
  height: 150px;
  padding: 5px 20px;
}

@media (max-width: 375px) {
  .product .product-items .product-card .product-img {
    height: 130px !important;
  }
}

@media (max-width: 320px) {
  .product .product-items .product-card .product-img {
    height: 100px !important;
  }
}

.product .product-items .product-card .card-body {
  position: relative;
  padding: 0;
  text-align: center;
}

.product .product-items .product-card .card-body .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.product .product-items .product-card .card-body .overlay .add-to-bag {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.product .product-items .product-card .card-body .overlay .product-details {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.product .product-items .product-card .card-body .overlay .product-details .details {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0;
  text-transform: capitalize;
  background: rgba(94, 0, 117, 0.7);
  color: #ffffff;
  padding: 2px;
}

.product .product-items .product-card .card-body .overlay .product-details .details:hover {
  background: #FFD670;
}

.product .product-items .product-card .card-body .product-name {
  color: #524a4a;
  font-size: 16px;
  line-height: 1.4;
  padding: 5px;
  margin: 5px 0;
  text-transform: capitalize;
}

.product .product-items .product-card .card-body:hover .overlay {
  visibility: visible;
}

.product .product-items .product-card .add-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.product .product-items .product-card .add-product .add-icon {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background: rgba(255, 214, 112, 0.9);
  position: relative;
}

.product .product-items .product-card .add-product .add-icon:hover {
  background: rgba(94, 0, 117, 0.9);
}

.product .product-items .product-card:hover {
  -webkit-box-shadow: 0px 0px 12px -8px #858484;
          box-shadow: 0px 0px 12px -8px #858484;
  border: 1px solid #5e0075;
}

.modal .modal-dialog {
  max-width: 1000px !important;
  margin: auto !important;
}

@media (max-width: 1024px) {
  .modal .modal-dialog {
    max-width: 900px !important;
  }
}

@media (max-width: 768px) {
  .modal .modal-dialog {
    max-width: 600px !important;
    margin-top: 70px !important;
  }
}

@media (max-width: 425px) {
  .modal .modal-dialog {
    max-width: 300px !important;
  }
}

.modal .modal-dialog .modal-content {
  padding: 20px !important;
}

.modal .product-image {
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

@media (max-width: 425px) {
  .modal .product-image {
    height: 150px;
  }
}

.modal .product-image .image {
  position: absolute;
  width: 80%;
  height: 80%;
}

.modal .product-image .image:hover {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

@media (max-width: 768px) {
  .modal .product-image .image {
    height: 70%;
  }
}

@media (max-width: 425px) {
  .modal .product-image .image {
    width: 70%;
    height: 70%;
  }
}

.modal .close {
  font-size: 28px;
  text-decoration: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .product-details .product-name {
  font-size: 20px;
  text-transform: capitalize;
  color: #524a4a;
}

@media (max-width: 768px) {
  .modal .product-details .product-name {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .modal .product-details .product-name {
    font-size: 16px;
    text-align: center;
  }
}

.modal .product-details .unit {
  font-size: 18px;
  color: #524a4a;
}

@media (max-width: 768px) {
  .modal .product-details .unit {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .modal .product-details .unit {
    font-size: 14px;
    text-align: center;
  }
}

.modal .product-details .price {
  font-size: 24px;
  color: #524a4a;
  font-weight: 500;
}

@media (max-width: 768px) {
  .modal .product-details .price {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .modal .product-details .price {
    font-size: 16px;
    text-align: center;
  }
}

.modal .product-details .price .price-icon {
  font-size: 18px;
}

@media (max-width: 768px) {
  .modal .product-details .price .price-icon {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .modal .product-details .price .price-icon {
    font-size: 14px;
    text-align: center;
  }
}

.modal .buy .add-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(94, 0, 117, 0.3);
  background: rgba(94, 0, 117, 0.3);
  height: 50px;
}

@media (max-width: 768px) {
  .modal .buy .add-quantity {
    height: 40px;
  }
}

@media (max-width: 425px) {
  .modal .buy .add-quantity {
    margin-bottom: 10px;
  }
}

.modal .buy .add-quantity .sub-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #524a4a;
}

@media (max-width: 768px) {
  .modal .buy .add-quantity .sub-icon {
    font-size: 16px;
  }
}

.modal .buy .add-quantity .quantity {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background: #ffffff;
}

@media (max-width: 768px) {
  .modal .buy .add-quantity .quantity {
    font-size: 16px;
  }
}

.modal .buy .add-quantity .quantity .count {
  margin-bottom: 0;
}

.modal .buy .add-quantity .add-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #524a4a;
}

@media (max-width: 768px) {
  .modal .buy .add-quantity .add-icon {
    font-size: 16px;
  }
}

.modal .buy .buy-btn {
  background: #5e0075;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
}

@media (max-width: 768px) {
  .modal .buy .buy-btn {
    font-size: 16px;
    height: 40px;
  }
}

.modal .product-description {
  padding: 10px 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .modal .product-description {
    font-size: 16px;
    padding: 5px 0;
  }
}

@media (max-width: 425px) {
  .modal .product-description {
    font-size: 14px;
  }
}

.modal .daily-need .title {
  text-align: left !important;
}

@media (max-width: 425px) {
  .modal .daily-need .title {
    font-size: 18px;
  }
}

.modal .daily-need .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal .daily-need .products .card {
  width: 120px;
  height: 150px;
  padding: 2px;
  margin: 5px 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .modal .daily-need .products .card {
    margin: 5px 5px;
    width: 110px;
  }
}

.modal .daily-need .products .card .image {
  width: 100%;
  height: 90px !important;
}

.modal .daily-need .products .card .name {
  font-size: 14px;
  text-align: center;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  margin-bottom: 0;
  text-transform: capitalize;
}
/*# sourceMappingURL=product.css.map */